body{
	background-color: #000000;
}
.main{
	background-color: #000000;
	margin: 10px 0px;
	display: flex;
	justify-content: space-between;		
}
.content{
	background-color: #F9C22E;
	border: 2px solid #F9C22E; 
	border-radius: 10px;
	flex:auto;
	width:80%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.real_content{
	width: 60%;
}
a{
	color:black;
	text-decoration: none;
}
a:hover{
	color: grey;
}
.nav{
	background-color: #E01A4F;
	border: 2px solid #E01A4F;
	border-radius: 10px;
	flex:auto;

	margin-left: 5px;
}


.toggle{
	border: 2px;
	border-radius: 10px;
	margin-left: 5px;
	outline: none;
}


.footer{
	background-color: #F15946;
	border: 2px solid #F15946;
	border-radius: 10px;

	display: flex;
	justify-content: center;
}


